<p-table [(value)]="productList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {{productList.length}} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>  
            <th>Category</th>
            <th>Price</th>   
            <th>Actions</th>       
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>            
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>
                <button pButton type="button" label="Edit" (click)="editProduct(product.id)"></button>
                <button pButton type="button" label="Delete" class="p-button-danger btn-mar" (click)="confirmDelete(product.id)"></button>
            </td>            
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button type="button" pButton (click)="add()" label="Add" class="add-btn"></button>