<p-table [(value)]="categoryList"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {{categoryList.length}} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>  
            <th>Actions</th>       
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>            
            <td>{{ category.name }}</td> 
            <td>
                <button pButton type="button" label="Edit" (click)="editCategory(category.id)"></button>
                <button pButton type="button" label="Delete" class="p-button-danger btn-mar" (click)="confirmDelete(category.id)"></button>
            </td>           
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button type="button" pButton (click)="add()" label="Add" class="add-btn"></button>